.form-content {
    display: flex;
    flex-direction: column;
    height: 100%;
margin-bottom: 20px;
}
.form-content > * {
    width: 100%;
  }
.mat-dialog-content {
    overflow-y: hidden !important;
}

.dialog__footer {

   font-size: 14px;
}
.dialog__footer-button {
    margin: 0 3px;
}

