<div  mat-dialog-content>
  <form [formGroup]="form" class="form-content" (ngSubmit)="onSubmit()" *ngIf = 'signUpMode'>
    <h1 mat-dialog-title>Sign up</h1>
    <mat-form-field>
      <input
        matInput
        formControlName="firstName"
        id="firstName"
        type="text"
        placeholder="Inter your name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="email"
        id="email"
        type="email"
        placeholder="Inter your email"
        required
      />
      <mat-error *ngIf="form.value.email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field >
      <input
        matInput
        formControlName="password"
        id="password"
        type="password"
        placeholder="Create your password"
      />
   
    </mat-form-field>

    <div mat-dialog-actions  align="end">
      <button type="submit" mat-raised-button color="primary">
        Sign up
      </button>
      <button mat-button mat-dialog-close>Cancel</button>
    </div>
  </form>



 
    <form [formGroup]="form" class="form-content" (ngSubmit)="onSubmit()" *ngIf = '!signUpMode'>
      <h1 mat-dialog-title>Sign in</h1>
    
      <mat-form-field >
        <input
          matInput
          formControlName="email"
          id="email"
          type="email"
          placeholder="Inter your email"
        />
      
      </mat-form-field>
      <mat-form-field >
        <input
          matInput
          formControlName="password"
          id="password"
          type="password"
          placeholder="Enter your password"
        />
      
      </mat-form-field>
  
      <div mat-dialog-actions  align="end">
        <button type="submit" mat-raised-button color="primary">
          Sign in
        </button>
        <button mat-button mat-dialog-close>Cancel</button>
      </div>
    </form>
    <mat-divider></mat-divider>
    <div mat-dialog-actions align="center" class='dialog__footer'>
      <span *ngIf = 'signUpMode'>Already have an account?</span>
      <span *ngIf = '!signUpMode'>Have no an account?Create!</span>
      <button mat-button (click)="signUpMode = !signUpMode" mat-button color="primary" class='dialog__footer-button'>{{signUpMode ? 'Sign in' : 'Sign up'}}</button>
    </div>
  </div>


