<mat-toolbar class="mat-elevation-z5 menu" color="primary">
  <button
    class="menu__button"
    mat-button
    [routerLink]="['/catalog']"
    routerLinkActive="mat-accent"
  >
    CATALOG
  </button>
  <button 
  *ngIf = 'activeUser.id'
    class="menu__button"
    mat-button
    [routerLink]="['/favorite']"
    routerLinkActive="mat-accent"
  >
    FAVORITE
  </button>

  <span class="menu__fill-remaining-space"></span>
  <button mat-button [routerLink]="['/cart']" routerLinkActive="mat-accent">
    <mat-icon
      [matBadgeHidden]="!numberItemsInTheCart"
      matBadge="{{ numberItemsInTheCart }}"
      matBadgeColor="warn"
      class="menu__shopping_cart-icon"
      aria-hidden="false"
      aria-label="shopping_cart"
      >shopping_cart</mat-icon
    >
  </button>

  <form class="menu__search-form">
    <mat-form-field class="menu__search-full-width" autocomplete="off">
      <input type="search" matInput  [(ngModel)]="searchData" autocomplete="off" (input)="inputChanged()" name="searchData"/>
    </mat-form-field>
    <div *ngIf = 'searchData' class = 'menu__search-form-result'>
<div class = 'menu__search-form-result-brand'>Brands: 
  <div *ngIf = '!searchBrands || searchBrands.length === 0' class = 'menu__search-form-result-nofound'>Nothing was found</div>
  <div (click) = 'findBrandItems(brand)' *ngFor = 'let brand of searchBrands' class = 'menu__search-form-result-brand-item'>{{brand}}</div>
  </div>
<div  class = 'menu__search-form-result-type'>Types: 
    <div *ngIf = '!searchTypes || searchTypes.length === 0' class = 'menu__search-form-result-nofound'>Nothing was found</div>
  <div (click) = 'findTypeItems(type)' *ngFor = 'let type of searchTypes' class = 'menu__search-form-result-brand-item'>{{type}}</div> </div>


    </div> 
  </form>
  <mat-icon class="menu__search-icon" aria-hidden="false" aria-label="search"
    >search</mat-icon
  >
  <span *ngIf="activeUser.id">Hello, {{ activeUser.firstName }}</span>
  <button
    *ngIf="!activeUser.id"
    mat-stroked-button
    (click)="openSignUpDialog()"
  >
    Sign in
  </button>
  <button
    class="logout-button"
    *ngIf="activeUser.id"
    mat-stroked-button
    (click)="logOut()"
  >
    Log out
  </button>

 
</mat-toolbar>

<main class="content-wrapper">
  <router-outlet></router-outlet>
</main>


