
.catalog {
    display: flex;

    &__filter{
      display: flex;
      flex-direction: column;
      width: 12%;
        margin-top: 5%;
        height: auto;
        overflow: hidden;
        position: fixed;
      
    }
    &__card-wrapper {
      margin-top: 5%;
      margin-left: 15%;
        width: 85%;
        display: flex;
        flex-flow: row wrap;
    }
    &__product-card{
      display: flex;
      flex-direction: column;
      width: 20%;
     
       margin:5px;
        align-content: space-between;
        justify-content: space-around;
        height: auto;
        overflow: hidden;
        padding-bottom: 30px;
    }
    &__loader-wrapper {
        display: flex;
        height: 70vh;
        width: 85%;
        align-items: center;
        justify-content: center;
    }
    &__product-card-sizeselect {
      width: 30%;
     
    }
    &__product-card-colorselect {
      width: 30%;
     
    }
    &__product-card-select-wrapper{
      width: 100%;
      display: flex;
      justify-content: space-around;
      
    }
    &__filter-section {
margin: 10px 0;
    }
    &__filter-section_label {

    }
    &__filter-radio_group {
      display: flex;
      flex-direction: column;
    }
    &__filter-radio-button {
      margin: 5px;
    }
    &__filter-select {
      width: 100%;
    }
 
  
}

mat-slider {
  width: 100%;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
     
    height: 60px;
    margin: 15px 0;
    background-color: whitesmoke;
  }
  
  .example-margin {
    margin: 0 10px;
  }

 