<div class="catalog">
  <div class="catalog__filter-wrapper">
    <mat-card class="catalog__filter">
      <mat-card-title align="center">Filter</mat-card-title>
      <mat-card-content class="catalog__filter-wrapper">
        <mat-divider></mat-divider>
        <section class="example-section">
          <label class="example-margin">Color:</label>
          <mat-radio-group>
            <mat-radio-button class="example-margin" value="primary">
              Primary
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="accent">
              Accent
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="warn">
              Warn
            </mat-radio-button>
          </mat-radio-group>
        </section>

        <section class="example-section">
          <label class="example-margin">Mode:</label>
          <mat-radio-group>
            <mat-radio-button class="example-margin" value="determinate">
              Determinate
            </mat-radio-button>
            <mat-radio-button class="example-margin" value="indeterminate">
              Indeterminate
            </mat-radio-button>
          </mat-radio-group>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="catalog as items; else loader" class="catalog__card-wrapper">
    <mat-card *ngFor="let item of items" class="catalog__product-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.brand }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ item.img }}" alt="Photo of {{ item.name }}" />
      <mat-card-content>
        <p>
          {{ item.discription }}
        </p>
        <div class="catalog__product-card-select-wrapper">
          <mat-form-field class="catalog__product-card-sizeselect">
            <mat-label>Size</mat-label>
            <mat-select #sizeSelect>
              <mat-option *ngFor="let size of item.size" [value]="size">
                {{ size }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="catalog__product-card-colorselect">
            <mat-label>Color</mat-label>
            <mat-select #colorSelect>
              <mat-option *ngFor="let color of item.color" [value]="color">
                {{ color }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions align="center">
        <button
          mat-stroked-button
          (click)="addToCart(item.id, sizeSelect.value, colorSelect.value); openSnackBar(item.name)"
          color="primary"
        >
          TO CART
        </button>
        <button mat-button (click)="addToFavorite(item.id)">TO FAVORITE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <ng-template #loader>
    <div class="catalog__loader-wrapper">
      <app-loader></app-loader>
    </div>
  </ng-template>
</div>
