<div class="catalog">
  <mat-card class="catalog__filter form-group">
    <mat-card-title align="center">Filter</mat-card-title>
    <mat-card-content>
      <mat-divider></mat-divider>
      <section class="catalog__filter-section">
        <mat-radio-group
          name="gender"
          [(ngModel)]="gender"
          class="catalog__filter-radio_group form-control"
        >
          <label class="catalog__filter-section_label">Gender:</label>
          <mat-radio-button
            class="catalog__filter-radio-button"
            *ngFor="let gend of properties.gender"
            [value]="gend"
          >
            {{ gend }}
          </mat-radio-button>
        </mat-radio-group>
      </section>
      <section class="catalog__filter-section">
        <mat-form-field class="catalog__filter-select">
          <mat-label>Brand</mat-label>
          <mat-select name="brand" [(ngModel)]="brand" class="form-control">
            <mat-option *ngFor="let bra of properties.brand" [value]="bra">
              {{ bra }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section class="catalog__filter-section">
        <mat-form-field class="catalog__filter-select">
          <mat-label>Type</mat-label>
          <mat-select name="type" [(ngModel)]="type">
            <mat-option *ngFor="let ty of properties.type" [value]="ty">
              {{ ty }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section class="catalog__filter-section">
        <mat-form-field class="catalog__filter-select">
          <mat-label>Color</mat-label>
          <mat-select name="color" [(ngModel)]="color">
            <mat-option *ngFor="let col of properties.color" [value]="col">
              {{ col }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section class="catalog__filter-section">
        <mat-form-field class="catalog__filter-select">
          <mat-label>Size</mat-label>
          <mat-select name="size" [(ngModel)]="size">
            <mat-option *ngFor="let si of properties.size" [value]="si">
              {{ si }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section class="catalog__filter-section">
        <mat-label>Max price</mat-label>
        <div class="catalog__filter-slider">
          <mat-slider
            min="1"
            max="1000"
            step="1"
            thumbLabel
            tickInterval="1"
            name="maxPrice"
            [(ngModel)]="maxPrice"
          ></mat-slider>
        </div>
      </section>
    </mat-card-content>
    <button mat-stroked-button (click)="filterItems()" color="primary">
      FILTER
    </button>
  </mat-card>
  <div *ngIf="catalog && catalog.length >= 0; else loader">
    <div class="empry-cart-wrapper" *ngIf="catalog.length === 0">
      <div class="empry-cart">
        <mat-icon
          class="menu__filter-icon"
          aria-hidden="false"
          aria-label="filter_list"
          >filter_list</mat-icon
        >
        <div class="empry-cart-text">
          No items
        </div>
      </div>
    </div>
    <div *ngIf="catalog as items" class="catalog__card-wrapper">
      <mat-card *ngFor="let item of items" class="catalog__product-card catalog__product-card-item">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="item-name">{{ item.name }}</mat-card-title>
          <mat-card-subtitle class="item-brand">{{ item.brand }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          style="height:500px;"
          src="{{ item.img }}"
          alt="Photo of {{ item.name }}"
        />
        <mat-card-content>
          <button class='datails-button' mat-stroked-button (click)="openItemDetails(item._id)">
            DETAILS
          </button>
          <div class="catalog__product-card-select-wrapper">
            <mat-form-field class="catalog__product-card-sizeselect">
              <mat-label>Size</mat-label>
              <mat-select #sizeSelect>
                <mat-option *ngFor="let size of item.size" [value]="size">
                  {{ size }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="catalog__product-card-colorselect">
              <mat-label>Color</mat-label>
              <mat-select #colorSelect>
                <mat-option *ngFor="let color of item.color" [value]="color">
                  {{ color }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions align="center">
          <mat-card-title class="item-price">Price: {{ item.price }} $</mat-card-title>
          <button
            mat-stroked-button
            (click)="
              addToCart(
                item._id,
                sizeSelect.value,
                colorSelect.value,
                item.name
              )
            "
            color="primary"
          >
            TO CART
          </button>
          <button *ngIf="userId" mat-button class='add-favorite' (click)="addToFavorite(item._id)">
            TO FAVORITE
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-paginator
      class ='paginator'
        *ngIf="catalog && catalog.length > 0"
        #paginator
        [length]="catalogLength"
        [pageSize]="pageSize"
        [pageSizeOptions]="[8, 16, 24, 64]"
        (page)="pageEvent = paginationClick($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<ng-template class='loader' #loader>
  <div class="catalog__loader-wrapper">
    <app-loader></app-loader>
  </div>
</ng-template>
